.mvls-header {
	width: 100%;
	margin: 0;
	position: fixed;
	z-index: 100;
	background: #fff;
}

.mvls-container {
	position: relative;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 6px;
}

@media (min-width: 720px) {
	.mvls-container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.mvls-header .mvls-container {
	padding: 0 12px;
}

.mvls-nav {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	min-height: 48px;
}

.mvls-nav .mvls-title {
	font-size: 1.5rem;
	margin-right: 10px;
}

.mvls-nav a {
	font-size: 0.875rem;
	margin-right: 10px;
	color: #4299e1;
	text-decoration: none;
}

.mvls-main {
	padding-top: 51px;
}

.mvls-cinema-list,
.mvls-movie-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.mvls-cinema,
.mvls-movie {
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: #fff;
	margin: 15px;
	width: 280px;
}

.mvls-cinema .mvls-poster,
.mvls-movie .mvls-poster {
	width: 100%;
	height: 280px;
	object-fit: cover;
	background: url("./no-poster.jpg") 0px 0px no-repeat;
}

.mvls-cinema-body,
.mvls-movie-body {
	padding: 1rem 1.5rem;
	text-align: center;
}

.mvls-cinema .mvls-title,
.mvls-movie .mvls-title {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	font-weight: 700;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.mvls-movie .mvls-cinema-count {
	font-size: 1rem;
	color: #4a5568;
}

.mvls-cinema-footer,
.mvls-movie-footer {
	padding: 15px 15px 30px;
	text-align: center;
}

.mvls-btn {
	color: #fff;
	padding: 0.5rem 1rem;
	font-weight: 700;
	border-radius: 0.25rem;
	background-color: #4299e1;
}

.mvls-btn.mvls-btn-movies,
.mvls-btn.mvls-btn-cinemas {
	padding: 0.5rem 3.5rem;
	text-decoration: none;
}

.mvls-fullpage-text {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 51px);
	width: 100%;
}

.mvls-fullpage-text > p {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.5;
	color: #606f7b;
	margin: 2rem;
	text-align: center;
}

@media (min-width: 720px) {
	.mvls-fullpage-text > p {
		font-size: 1.875rem;
	}
}

.mvls-movie-details-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mvls-movie-details {
	display: flex;
	flex-direction: column;
	border-radius: 0.25rem;
	background-color: #fff;
	margin: 15px;
	width: 280px;
}

@media (min-width: 720px) {
	.mvls-movie-details-wrapper {
		padding: 0.5rem 1rem;
	}

	.mvls-movie-details {
		flex-direction: row;
		width: 100%;
	}
}

.mvls-movie-details .mvls-movie-details-poster {
	display: flex;
	align-self: center;
	min-width: 280px;
	max-width: 280px;
	height: 280px;
	object-fit: cover;
	background: url("./no-poster.jpg") 0px 0px no-repeat;
}

.mvls-movie-details-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem 1.5rem;
}

.mvls-movie-details-info h2 {
	margin: 8px 0;
}

.mvls-movie-details-info p {
	margin: 4px 0;
}

.mvls-movie-details-info p span {
	font-weight: bold;
}

.mvls-movie-cinemas {
	padding: 0.5rem 1rem;
}

.mvls-movie-cinema {
	border-radius: 0.25rem;
	background-color: #fff;
	padding: 15px;
	margin-bottom: 15px;
}

.mvls-movie-cinema p:last-child {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.mvls-movie-details-info p span.time,
.mvls-movie-cinema p span {
	border: 1px solid #777;
	border-radius: 1rem;
	background-color: #ddd;
	padding: 5px 10px;
	margin: 5px 10px 5px 0;
	white-space: nowrap;
}

.mvls-container h1 {
	padding: 0.5rem 1rem;
}

.mvls-movie-details-info p span.time {
	font-weight: normal;
}
